:root {
  --blue-sky-50: #f1f4f9;
  --blue-sky-100: #d5deec;
  --blue-sky-200: #b8c8e0;
  --blue-sky-300: #9cb2d3;
  --blue-sky-400: #7f9cc8;
  --blue-sky-500: #6286bc;
  --blue-sky-600: #4870ad;
  --blue-sky-700: #395785;
  --blue-sky-800: #293e5e;
  --blue-sky-900: #192537;
  --blue-sky-950: #080c11;

  --violet-dream-50: #f4f2f8;
  --violet-dream-100: #ddd5e9;
  --violet-dream-200: #c6b8da;
  --violet-dream-300: #af9bcc;
  --violet-dream-400: #987ebe;
  --violet-dream-500: #8061b0;
  --violet-dream-600: #6b4c9a;
  --violet-dream-700: #533c77;
  --violet-dream-800: #3c2b54;
  --violet-dream-900: #241a32;
  --violet-dream-950: #0c0911;

  --mustard-white-50: #faf8f5;
  --mustard-white-100: #eae3d6;
  --mustard-white-200: #dacdb7;
  --mustard-white-300: #cab898;
  --mustard-white-400: #baa279;
  --mustard-white-500: #a98c5b;
  --mustard-white-600: #8c734a;
  --mustard-white-700: #6d5a3a;
  --mustard-white-800: #4e412a;
  --mustard-white-900: #2f2719;
  --mustard-white-950: #110e09;

  --pinky-50: #fceef3;
  --pinky-100: #f8d3e0;
  --pinky-200: #f5b8cd;
  --pinky-300: #f29cba;
  --pinky-400: #eb6e99;
  --pinky-500: #e34079;
  --pinky-600: #cf1f5d;
  --pinky-700: #a01948;
  --pinky-800: #711334;
  --pinky-900: #430c1f;
  --pinky-950: #16040a;

  --green-500: #82a656;

  --color-bg-body: var(--mustard-white-50);
  --color-bg-surface: var(--mustard-white-100);

  --color-text-heading: var(--violet-dream-600);
  --color-text-h1: var(--violet-dream-800);
  --color-text-h2: var(--violet-dream-600);
  --color-text-h3: var(--violet-dream-700);
  --color-text-body: var(--violet-dream-600);
  --color-text-secondary: var(--blue-sky-600);
  --color-text-muted: var(--blue-sky-100);
  --color-text-label: #ffffff;
  --color-text-display: var(--mustard-white-50);

  --color-btn-star-default: var(--pinky-500);
  --color-btn-star-hover: var(--pinky-500);
  --color-btn-delete-default: var(--blue-sky-300);
  --color-btn-delete-hover: var(--pinky-800);

  --color-btn-primary-bg-default: var(--violet-dream-700);
  --color-btn-primary-bg-hover: var(--violet-dream-500);
  --color-btn-primary-bg-pressed: var(--violet-dream-800);
  --color-btn-primary-bg-active: var(--violet-dream-400);
  --color-btn-primary-bg-focus: var(--blue-sky-300);
  --color-btn-primary-text-default: var(--mustard-white-50);
  --color-btn-primary-text-hover: var(--mustard-white-50);
  --color-btn-primary-text-pressed: var(--mustard-white-50);
  --color-btn-primary-text-active: var(--mustard-white-50);

  --color-btn-secondary-bg-default: var(--mustard-white-50);
  --color-btn-secondary-bg-hover: var(--mustard-white-50);
  --color-btn-secondary-bg-pressed: var(--mustard-white-50);
  --color-btn-secondary-bg-active: var(--pinky-400);
  --color-btn-secondary-bg-focus: var(--pinky-400);
  --color-btn-secondary-text-default: var(--blue-sky-600);
  --color-btn-secondary-text-hover: var(--pinky-200);
  --color-btn-secondary-text-pressed: var(--pinky-400);
  --color-btn-secondary-text-active: var(--blue-sky-50);

  --color-btn-link-text-default: var(--blue-sky-600);
  --color-btn-link-text-hover: var(--blue-sky-500);
  --color-btn-link-text-pressed: var(--blue-sky-800);
  --color-btn-link-text-text: var(--mustard-white-50);

  --color-tag-type-a-bg: var(--pinky-400);
  --color-tag-type-a-border: var(--pinky-500);
  --color-tag-type-a-text: var(--pinky-50);
  --color-tag-type-b-bg: var(--violet-dream-400);
  --color-tag-type-b-border: var(--violet-dream-500);
  --color-tag-type-b-text: var(--pinky-50);
  --color-tag-type-c-bg: var(--blue-sky-400);
  --color-tag-type-c-border: var(--blue-sky-500);
  --color-tag-type-c-text: var(--pinky-50);
  --color-tag-info-bg-default: var(--violet-dream-700);
  --color-tag-info-text-default: var(--pinky-50);

  --color-state-sucess: var(--green-500);
  --color-state-error: var(--pinky-700);

  --color-filterview-bg: var(--mustard-white-50);
  --color-filterview-view-active: var(--mustard-white-100);
  --color-filterview-border: var(--pinky-950);
  --color-filterview-icon: var(--blue-sky-600);

  --color-image-selector-bg: var(--mustard-white-50);
  --color-image-selector-border: var(--blue-sky-950);
  --color-image-selector-icon: var(--blue-sky-50);

  --color-libelle-text-border: var(--violet-dream-600);
  --color-libelle-text-active: var(--blue-sky-50);
  --color-libelle-active: var(--blue-sky-500);

  --color-searchbar-bg: var(--mustard-white-50);
  --color-searchbar-border: var(--violet-dream-600);
  --color-searchbar-text: var(--blue-sky-100);
  --color-searchbar-text-active: var(--blue-sky-100);
  --color-searchbar-icon: var(--blue-sky-600);

  --color-shadow: var(--violet-dream-200);

  --hors-ds-color-dark: #0a142f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-body: var(--blue-sky-400);
    --color-bg-surface: var(--blue-sky-500);

    --color-text-heading: var(--violet-dream-900);
    --color-text-h2: var(--violet-dream-800);
    --color-text-body: var(--violet-dream-700);
    --color-text-secondary: var(--violet-dream-100);
    --color-text-muted: var(--violet-dream-100);
    --color-text-display: var(--violet-dream-100);

    --color-btn-primary-bg-default: var(--pinky-400);
    --color-btn-primary-bg-hover: var(--pinky-300);
    --color-btn-primary-bg-pressed: var(--pinky-500);
    --color-btn-primary-bg-active: var(--pinky-200);
    --color-btn-primary-bg-focus: var(--violet-dream-800);
    --color-btn-secondary-bg-focus: var(--violet-dream-800);

    --color-libelle-text-border: var(--violet-dream-800);
    --color-libelle-active: var(--violet-dream-500);

    --color-shadow: var(--blue-sky-700);
  }
}
